<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300661411010-5imqnjbiuqk1hat5gmg6dv4dataphsh6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300661411010-5imqnjbiuqk1hat5gmg6dv4dataphsh6</string>
	<key>API_KEY</key>
	<string>AIzaSyAk4Jk0AAD8XW_LrCbFQB-Bj4ogOVfm1FE</string>
	<key>GCM_SENDER_ID</key>
	<string>300661411010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.intimatica.app</string>
	<key>PROJECT_ID</key>
	<string>intimatica-2f70a</string>
	<key>STORAGE_BUCKET</key>
	<string>intimatica-2f70a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300661411010:ios:5da2c7ad205e9deb3a3f5b</string>
</dict>
</plist>